/*  =============================================  */
.stillimage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
  }
  .stillimage-main {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1270px;
    padding: 4rem 2rem;
    /* gap: 2rem; */
  }
  .stillimage-main .left {
    /* background-color: yellow; */
    width: 50%;
    padding-right: 3rem;
  }
  .stillimage-main .left .landing-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .stillimage-main .left .landing-desc p:nth-child(1) {
    color: var(--main-dark-color);
    font-size: 1.2rem;
    font-weight: 600;
  }
  .stillimage-main .left .landing-desc p:nth-child(2) {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
  }
  .stillimage-main .left .landing-desc p:nth-child(2) span {
    color: var(--main-dark-color);
  }
  .stillimage-main .right {
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .stillimage-main .right .col1
  .stillimage-main .right .col2
  .stillimage-main .right .col3 {
    display: flex;
    flex-direction: column;
    width: 33% !important;
    /* width: 40rem; */
  }
  .stillimage-main .right .col2 .col1 ,
  .stillimage-main .right .col2 .col2 ,
  .stillimage-main .right .col2 .col3 {
    transform: translateY(-1rem);
  }
  .stillimage-main .right .col1 .col2 img {
    border-radius: 10px;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: none;
    object-fit: cover;
  }
  
  .stillimage-main .right .col2 .col1 img {
    border-radius: 10px;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%; /* Cambia el tamaño de la imagen al 100% del contenedor */
    max-width: none; /* Elimina la restricción del ancho máximo */
    object-fit: cover;
  }
  
  .stillimage-main .right .col img.full-width-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    width: 20em;
    margin: 0 auto; /* Para centrar horizontalmente */
    display: block; /* Para asegurar que se centre correctamente */
  }
  
  
  
  
  .stillimage-main .right .col2 .col2 img {
    border-radius: 10px;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    height: auto;
    width: 15;
    object-fit: contain;
    
  }
  .stillimage-main .right .col2 .col3 img {
    border-radius: 10px;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    height: auto;
    width: 10rem;
    object-fit: cover;
  }
  .stillimage-main .right .col3 .col1 img {
    border-radius: 10px;
    margin: 0.8rem;
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    height: auto;
    width: 13rem;
    object-fit: cover;
    
  }
  .stillimage-main .right .col3 .col2 img {
    border-radius: 10px;
    margin: 0.8rem;
    margin-left: 0 !important  ;
    display: flex;
    justify-content: center;
    height: auto;
    width: 10rem;
    object-fit: cover;
    transform: translateY(-3rem);
  }
  
  
  .start-btn {
    margin-top: 2rem;
    background: linear-gradient(to right, var(--main-dark-color), var(--main-light-color));
    box-shadow: 0 2px 5px rgba(36, 36, 36, 0.685);
    padding: 1.2rem 2rem ;
    width: fit-content;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .start-btn:hover {
    transition: all 0.3s linear;
    transform: translateY(-0.3rem);
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.685);
  }
  .start-btn p {
    color: #fff !important;
    
  }
  .nav-link {
    text-decoration: none;
    border-right: none;
  }
  
  .col-icon-common {
    padding: 0.4rem 0.6rem;
    background: linear-gradient(to bottom, var(--main-dark-color), var(--main-light-color));
    border-radius: 6px;
    color: #fff;
    width: fit-content;
  
  }
  .col12-icon {
    transform: translate(3rem, -1.5rem);
    rotate: -15deg;
  }
  .col31-icon {
    transform: translate(2rem, -18rem);
  }
  .col32-icon {
    rotate: 15deg;
    transform: translate(4rem, -5.5rem);
  
  }
  
  
  @media (max-width: 1270px) {
    .landingPage-main {
        width: 100%;
    }
  }
  
  
  @media (max-width: 1080px) {
    .landingPage-main .right {
        display: none;
    }
    .stillimage-main {
        align-items: center;
        justify-content: center;
    }
    .stillimage-main .left {
        width: 590px;
        padding-right: 0;
    }
  
  }
  
  /*  =============================================  */